.Pokecard {
    display: inline-block;
    width: 8em;
    background-color: lightgray;
    border-radius: 10px;
    text-align: center;
    padding: 1em;
    margin: 1em;
}

.Pokecard-title {
    color: blue;
    font-weight: bold;
    font-size: 1.1em;
}

.Pokecard-info {
    font-size: 90%;
}